* {
    margin-left: 2%;
    padding: 0;
}

.tblLogin {
    width: 50%;
}

.tdLabel {
    width: 20%;
}

.fieldLogin {
    width: 35%;
}

.error {
    color: #FF0000;
}

.btnSubmit {
    background-color: #0099ff;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
}